$color1:#eeeee7;
$color2:#F6FEFE;
$title1:#302E2E;
$btnColor:#0D9A9A;

.main{
    width: 100%;
    padding:100px 150px 50px 150px;
    background-color: #fcfdfd;
}
.boxMain{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:50px;
    margin-top: 30px;
}

.mainBox{
    border-radius: 12px;
    background-color: $btnColor;
   // transform: skew(10deg)
}
.text{
    transform: skew(-10deg)
}
.title{
    font-family: var(--font-poppinsTini);
    color:#302E2E;
    margin-bottom: 35px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.serviceTitle{
    width: 100%;
    text-align: center;
    font-family: var(--font-poppinsTini);
    color:#302E2E;
    font-weight: 600;

}
.serviceText{
    width: 100%;
    padding: 17px;
    font-size: 14.5px;
    text-align: center;
    font-family: var(--font-poppinsTini);
    color:#302E2E;

}

.iconContainer{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 25px 0px 15px 0px;

}
.icon{
    width: 70px;
    height: 70px;
    
}


// test
.seconMain{
    background-color: #ffffff;
    box-shadow: -5px 0px 15px rgba(177, 177, 177, 0.3);
    border-radius: 12px;
    transition: 0.3s ease-in;
    position: relative;
    overflow: hidden;

}


.seconMain:hover{
    transform: rotate(5deg);
    background-color: rgb(225, 249, 248);
   
}

.idNum{
    width: 90px;
    height: 40px;
    background-color: $btnColor;
    position:absolute;
    border-radius: 35px;
    left: -40px;
    top: 35px;
    text-align: right;
    line-height: 40px;
    padding-right: 20px;
    color: $btnColor;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 35px;
}

@media only screen and (max-width: 991px){
    .main{
        width: 100%;
        padding:100px 30px 50px 30px;
        background-color: #fcfdfd;
    }
}